In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')

# Reading Dataset

In [2]:
df=pd.read_csv('cardekho.csv')

In [3]:
df

,Unnamed: 0,Car_name,Price,Kilometers,Year of Purchase,Owner,Fuel,Transmission,RTO,Insurance Type,Feature,Safety,Interior,Exterior
0,0,2011 Honda City,"₹ 3,99,500","38,647 Kms",2011,1st Owner,Petrol,Manual,GJ01,Third Party insurance,"Power Steering, Power Windows Front, Power Win...","Anti Lock Braking System, Brake Assist, Center...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe..."
1,1,2019 Maruti Swift Dzire,"₹ 6,65,000","9,718 Kms",2019,1st Owner,Petrol,Manual,GJ09,Third Party insurance,"Power Steering, Power Windows Front, Power Win...","Anti Lock Braking System, Brake Assist, Center...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter..."
2,2,2012 Maruti Alto K10,"₹ 1,77,500","89,579 Kms",2012,1st Owner,Petrol,Manual,GJ01,Third Party insurance,"Power Steering, Remote Trunk Opener, Remote Fu...","Halogen Headlamps, Rear Seat Belts, Seat Belt ...","Air Conditioner, Heater, Electronic Multi Trip...","Adjustable Head Lights, Manually Adjustable Ex..."
3,3,2016 Maruti Wagon R,"₹ 3,60,000","81,674 Kms",2016,1st Owner,Petrol,Manual,GJ18,Third Party insurance,"Foldable Rear Seat, Power Steering, Power Wind...","Anti Lock Braking System, Centeral Locking, Po...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter..."
4,4,2020 Maruti Eeco,"₹ 4,72,000","17,116 Kms",2020,1st Owner,Petrol,Manual,GJ01,Third Party insurance,"Low Fuel Warning Light, Accessory Power Outlet...","Anti Lock Braking System, Child Safety Locks, ...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,1250,2016 Toyota Innova Crysta,"₹ 17,40,000","70,370 Kms",2016,1st Owner,Diesel,Manual,MH12,Third Party insurance,"Power Steering, Power Windows Front, Power Win...","Anti Lock Braking System, Brake Assist, Center...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ..."
1251,1251,2015 Hyundai Verna,"₹ 5,71,000","89,087 Kms",2014,1st Owner,Diesel,Automatic,MH08,Third Party insurance,"Power Steering, Power Windows Front, Power Win...","Anti Lock Braking System, Centeral Locking, Po...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe..."
1252,1252,2014 Honda City,"₹ 6,44,836","33,378 Kms",2014,2nd Owner,Petrol,Manual,MH09,Third Party insurance,"Power Steering, Power Windows Front, Power Win...","Anti Lock Braking System, Centeral Locking, Po...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe..."
1253,1253,2015 Maruti Swift,"₹ 5,38,000","57,664 Kms",2015,1st Owner,Diesel,Manual,MH12,Third Party insurance,"Foldable Rear Seat, Power Steering, Power Wind...","Anti Lock Braking System, Brake Assist, Center...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ..."
1254,1254,2016 Hyundai Grand i10,"₹ 4,72,500","62,193 Kms",2015,2nd Owner,Petrol,Automatic,MH12,Third Party insurance,"Power Steering, Power Windows Front, Power Win...","Centeral Locking, Power Door Locks, Child Safe...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe..."

In [4]:
df.columns

Index(['Unnamed: 0', 'Car_name', 'Price', 'Kilometers', 'Year of Purchase',
       'Owner', 'Fuel', 'Transmission', 'RTO', 'Insurance Type', 'Feature',
       'Safety', 'Interior', 'Exterior'],
      dtype='object')

# Data Cleaning

In [5]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
price=[]
for i in df['Price'].str.strip("₹ "):
    price.append(int(''.join(i.split(","))))
df['Price new']=price

In [7]:
fuel=pd.get_dummies(df['Fuel'])

In [8]:
df=pd.concat([fuel,df],axis=1)

In [9]:
df['Kilometers'].str.strip('Kms')

0       38,647
1        9,718
2       89,579
3       81,674
4       17,116
         ...
1250    70,370
1251    89,087
1252    33,378
1253    57,664
1254    62,193
Name: Kilometers, Length: 1255, dtype: object

In [10]:
kms=[]
for i in df['Kilometers'].str.strip("Kms"):
    kms.append(int(''.join(i.split(","))))
df['Kilometers new']=kms

In [11]:
df.drop(["Price","Kilometers"],axis=1,inplace=True)

In [12]:
list(df['Owner'].value_counts().keys())

['1st Owner', '2nd Owner', '3rd Owner']

In [13]:
df['Owner'].replace(list(df['Owner'].value_counts().keys()),[1,2,3],inplace=True)

In [14]:
df.drop('Fuel',axis=1,inplace=True)

In [15]:
for i in ['RTO','Transmission','Insurance Type']:
    print(df[i].value_counts())

MH12    81
DL3C    65
DL2C    54
DL8C    54
DL9C    52
        ..
GJ09     1
TS31     1
AP11     1
MH06     1
KA08     1
Name: RTO, Length: 139, dtype: int64
Manual       1004
Automatic     159
DL9C            9
MH12            9
RJ14            7
DL7C            7
MH43            4
DL6C            4
DL3C            4
DL12            4
MH02            3
RJ45            3
TS08            3
MH14            3
DL4C            3
KA02            3
HR29            2
MH01            2
MH04            2
MH47            2
MH48            2
MH05            2
DL5C            2
KA05            1
KA50            1
KA51            1
MH11            1
MH13            1
TS10            1
RJ19            1
KA04            1
AP36            1
AP23            1
KA01            1
MH03            1
Name: Transmission, dtype: int64
Third Party insurance    1063
Not Available              99
Manual                     79
Automatic                  13
Third Party                 1
Name: Insurance Type, dtype: int64

In [16]:
for i in df['RTO']:
    if len(i)>4:
        print(i)

1 2022
3 2022
3 2022
6 2021
2 2022
5 2021
5 2021
5 2021
12 2021
1 2022
10 2021
1 2022
2 2022
12 2021
6 2021
12 2021
12 2021
3 2022
12 2021
1 2022
10 2021
1 2022
6 2021
10 2021
8 2021
12 2021
12 2021
3 2022
7 2022
12 2022
7 2022
7 2022
12 2021
10 2021
9 2021
8 2022
10 2021
1 2022
8 2021
10 2021
10 2021
12 2021
3 2022
4 2022
1 2022
5 2022
10 2021
1 2022
7 2022
6 2022
1 2022
1 2022
1 2022
3 2022
3 2022
1 2022
3 2022
2 2022
12 2021
1 2022
10 2021
12 2021
2 2022
12 2021
6 2021
12 2021
3 2022
12 2021
12 2021
1 2022
1 2022
6 2021
12 2021
12 2021
2 2022
12 2021
3 2022
12 2021
1 2022
6 2022
9 2022
9 2021
9 2021
4 2022
5 2022
6 2021
5 2022
7 2021
4 2022
8 2021
6 2022
11 2021

In [17]:
# col=[(df['Transmission']=='5 2021'),(df['Transmission']=='12 2021'),(df['Transmission']=='8 2021'),(df['Transmission']=='2 2022'),
#      (df['Transmission']=='9 2021'),(df['Transmission']=='7 2021'),(df['Transmission']=='4 2022'),(df['Transmission']=='6 2021'),
#      (df['Transmission']=='11 2021'),(df['Transmission']=='10 2021'),(df['Transmission']=='1 2022'),(df['Transmission']=='4 2021')]
# for i in col:
#     df.loc[i,['Transmission','Insurance Type']]=df.loc[i,['Insurance Type','Transmission',]].values

In [18]:
df.loc[df[df['Insurance Type'].isin(['Manual'])].index,'RTO']=df.loc[df[df['Insurance Type'].isin(['Manual'])].index,'Transmission']

In [19]:
df.loc[df[df['Insurance Type'].isin(['Automatic'])].index,'RTO']=df.loc[df[df['Insurance Type'].isin(['Automatic'])].index,'Transmission']

In [20]:
df.loc[df[df['Insurance Type'].isin(['Manual'])].index,'Transmission']="Manual"
df.loc[df[df['Insurance Type'].isin(['Automatic'])].index,'Transmission']="Automatic"

In [21]:
df.loc[df[df['Insurance Type'].isin(['Manual'])].index,'Insurance Type']="Not Available"
df.loc[df[df['Insurance Type'].isin(['Automatic'])].index,'Insurance Type']="Not Available"

In [22]:
df.loc[df[df['Insurance Type'].isin(['Third Party'])].index,'Insurance Type']="Third Party insurance"

In [23]:
df[df['RTO']=='1 2022']

Empty DataFrame
Columns: [CNG, Diesel, LPG, Petrol, Car_name, Year of Purchase, Owner, Transmission, RTO, Insurance Type, Feature, Safety, Interior, Exterior, Price new, Kilometers new]
Index: []

In [24]:
df['Transmission'].value_counts()

Manual       1083
Automatic     172
Name: Transmission, dtype: int64

In [25]:
insusrance=pd.get_dummies(df['Insurance Type'])
transmission=pd.get_dummies(df['Transmission'])

In [26]:
df=pd.concat([insusrance,transmission,df],axis=1)
df.drop(['Transmission','Insurance Type'],axis=1,inplace=True)

In [27]:
df.select_dtypes('O').columns

Index(['Car_name', 'RTO', 'Feature', 'Safety', 'Interior', 'Exterior'], dtype='object')

In [28]:
df['all_text']=df['Car_name']+df['RTO']+df['Feature']+df['Safety']+df['Interior']+df['Exterior']

In [29]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv=CountVectorizer()
tf=TfidfVectorizer()
text_feature=cv.fit_transform(df['all_text'])

In [30]:
text_feature.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
dff=pd.DataFrame(text_feature.toarray())

In [32]:
dff.shape

(1255, 933)

In [33]:
df.select_dtypes('int64')

      Year of Purchase  Owner  Price new  Kilometers new
0                 2011      1     399500           38647
1                 2019      1     665000            9718
2                 2012      1     177500           89579
3                 2016      1     360000           81674
4                 2020      1     472000           17116
...                ...    ...        ...             ...
1250              2016      1    1740000           70370
1251              2014      1     571000           89087
1252              2014      2     644836           33378
1253              2015      1     538000           57664
1254              2015      2     472500           62193

[1255 rows x 4 columns]

In [34]:
df.select_dtypes('uint8')
df_new=pd.concat([dff,df.select_dtypes('uint8'),df.select_dtypes('int64')],axis=1)

# Model Generation

In [35]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error,accuracy_score,r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [36]:
X=df_new.drop(['Price new'],axis=1)

In [37]:
Y=df_new['Price new']

In [38]:
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.30,random_state=30)

In [41]:
from sklearn.linear_model import LinearRegression
maxAccu=0
maxRS=0
for i in range(1,200):
    X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.30,random_state=i)
    l=LinearRegression()
    l.fit(X_train,Y_train)
    pred=l.predict(X_test)
    acc=r2_score(Y_test,pred)
    if acc>maxAccu:
        maxAccu=acc
        maxRS=i
print("Best accuracy is",maxAccu,"on Random State",maxRS)

Best accuracy is 0.8306087345730302 on Random State 192

In [42]:
from sklearn.ensemble import RandomForestRegressor 
maxAccu=0
maxRS=0
for i in range(1,200):
    X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.30,random_state=i)
    r=RandomForestRegressor()
    r.fit(X_train,Y_train)
    pred=r.predict(X_test)
    acc=r2_score(Y_test,pred)
    if acc>maxAccu:
        maxAccu=acc
        maxRS=i
print("Best accuracy is",maxAccu,"on Random State",maxRS)

Best accuracy is 0.9318917243174805 on Random State 195

In [43]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.30,random_state=190)

In [44]:
d=DecisionTreeRegressor()
d.fit(X_train,Y_train)
pred=l.predict(X_test)
print(r2_score(Y_test,pred))

0.873909754986614

### Hyper Parameter Tuning

In [57]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
para={'criterion':['mse','mae'],'max_features':['auto','sqrt','log2']}
rf=RandomForestRegressor()
clf=GridSearchCV(rf,para)
clf.fit(X_train,Y_train)
print(clf.best_params_)

{'criterion': 'mse', 'max_features': 'auto'}

In [58]:
rf=RandomForestRegressor(criterion='mse',max_features='auto')
rf.fit(X_train,Y_train)
rf.score(X_train,Y_train)
pred=rf.predict(X_test)
rfs=r2_score(Y_test,pred) 
print("R2 Score",rfs)

R2 Score 0.9048413034398327

In [61]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor(criterion={"mse", "friedman_mse", "mae"},splitter={"best","random"})
para={'criterion':["mse", "friedman_mse", "mae"],'splitter':["best","random"]}
dt=DecisionTreeRegressor()
cl=GridSearchCV(dt,para)
cl.fit(X_train,Y_train)
print(cl.best_params_)

{'criterion': 'mse', 'splitter': 'random'}

In [62]:
dt=DecisionTreeRegressor(criterion='mse',splitter='random')
dt.fit(X_train,Y_train)
pred=dt.predict(X_test)
dt=r2_score(Y_test,pred)
print(dt)

0.7901039964346165

### Cross Validation

In [67]:
from sklearn.model_selection import cross_val_score
svcscores=cross_val_score(l,X,Y,cv=10)
print(svcscores.mean())

-10035133906925.879

In [66]:
from sklearn.model_selection import cross_val_score
svcscores=cross_val_score(r,X,Y,cv=10)
print(svcscores.mean())

0.8384738018842544

In [68]:
from sklearn.model_selection import cross_val_score
svcscores=cross_val_score(d,X,Y,cv=10)
print(svcscores.mean())

0.7393159790847745

# The Best Model for this Dataset is RandomForestRegressor